.mainTitle {
  font-size: 6vw;
  text-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  line-height: 1.25;
}

.subTitle {
  font-size: 2.25vw;
  line-height: 1.1;
  text-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.lastTitle {
  font-size: 1.5vw;
  text-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}